body {
    font-family: 'Oswald', sans-serif;
}

.header {
    position: relative;
}

#countdown {
    position: fixed;
    left: 2%;
    top: 2%;
    color: gold;
    font-size: 20pt;
    text-shadow: 2px 2px 3px black;
}

#start {
    color:white;
    font-size: 22pt;
}

.btn:hover,
#start:hover {
color:gold;
}