body {
    font-family: 'Oswald', sans-serif;
    background-color: beige;
}

#countdown {
    /* position: fixed;
    left: 50%;
    bottom: 0;  */
    color: gold;
    font-size: 20pt;
    text-shadow: 2px 2px 3px black;
    z-index: 999;
}

#countdown .wrap {
    position: relative;
    left: -50%;
}

#start {
    color:white;
    font-size: 22pt;
}

.btn:hover,
#start:hover {
color:gold;
}

